:root {
    --background: #d4e7ff;
    --background-2: #f0f4f7;
    --foreground: #003b88;
    --box-tab-background-dark: #9ca9d3;
    --box-tab-background: #c2dbef;
    --box-tab-background-light: #a8c7e4;
    --box-tab-foreground: #003b88;
    --box-border: #003b88;
    --box-content-background: #fff;
    --box-content-background-2: #d9e0e6;
    --anchor-color: #001ec9;
    --anchor-color-hovered: #2f00ff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #262626;
        --background-2: #202020;
        --foreground: #ffffff;
        --box-tab-background-dark: #000550;
        --box-tab-background: #003b88;
        --box-tab-background-light: #000f62;
        --box-tab-foreground: #fff;
        --box-border: #575757;
        --box-content-background: #3a3a3a;
        --box-content-background-2: #282828;
        --anchor-color: #9698ff;
        --anchor-color-hovered: #e2daff;
    }
}