:root {
    --page-pad: 8px;

    --background: #f2f8ee;
    --foreground: #425514;

    --anchor-foreground: #425514;
    --anchor-background: #fff;

    --button-background: #425514;
    --button-background-hover: #303030;
    --button-foreground: #fff;

    --code-background: #daebc7;
    --code-foreground: #425514;

    --box-border-width: 2px;
    --box-border: #95a186;
    --box-background: #e4ebdc;
    --box-background-hover: #c8e2b7;
    --box-foreground: #636363;
    --box-shadow: #000;

    --box-tab-background: #daebc7;
    --box-tab-foreground: #425514;

    --showcase-button-background: #575c52;
    --showcase-button-background-hover: #657a4b;

    --options-background: linear-gradient(0deg, #bac4a3 95%, #697058);
    --options-border: #727a5f;

    --box-border-radius: 4px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #262626;
        --foreground: #ffffff;

        --anchor-foreground: #c2ff61;
        --anchor-background: #e6ffb7;

        --code-background: #4d583f;
        --code-foreground: #fff;

        --box-border-width: 2px;
        --box-border: #575757;
        --box-background: #3a3a3a;
        --box-background-hover: #575757;
        --box-foreground: #c2ff61;

        --box-tab-background: #4d583f;
        --box-tab-foreground: #fff;

        --options-background: linear-gradient(0deg, #3a3a3a 95%, #202020);
        --options-border: #221a1a;
    }
}

fieldset,
legend {
    border-radius: 4px;
}

a {
    text-decoration: none;
}

a:hover {
    background: none;
    color: var(--anchor-foreground);
    text-decoration: underline;
}

button,
.button {
    border-radius: var(--box-border-radius);
}

#form-upload {
    border-radius: var(--box-border-radius);
}

#huge-upload-button {
    border-radius: var(--box-border-radius);
}

.options {
    border-bottom-left-radius: var(--box-border-radius);
    border-bottom-right-radius: var(--box-border-radius);
}

.drop-button {
    text-decoration: none;
}

.dropdown:hover .drop-button {
    text-decoration: underline;
}

.box,
.item {
    border-radius: 4px;
}

.box>.tab {
    border-top-left-radius: var(--box-border-radius);
    border-top-right-radius: var(--box-border-radius);
}

.box>.content {
    border-bottom-left-radius: var(--box-border-radius);
    border-bottom-right-radius: var(--box-border-radius);
}