:root {
    --background: linear-gradient(0deg, #f7f0f0, #ffe1d4);
    --foreground: #800;

    --anchor-foreground: #c90000;
    --anchor-background: #ffe1d4;

    --button-background: #800;
    --button-background-hover: #303030;

    --code-background: #efc2c2;
    --code-foreground: #800;

    --box-border-width: 2px;
    --box-border: #800;
    --box-background: #fff6f6;
    --box-background-hover: #f7cccc;
    --box-foreground: #800;

    --box-tab-background: #efc2c2;
    --box-tab-foreground: #800;

    --options-background: linear-gradient(0deg, #ccb8b8 95%, #9b8585);
    --options-border: #7e5959;

    --showcase-button-background: #800;
    --showcase-button-background-hover: #bb1111;

    --font: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: linear-gradient(0deg, #202020, #262626);
        --foreground: #fff6f6;

        --anchor-foreground: #ff6161;
        --anchor-background: #291d1d;

        --button-background: #800;
        --button-background-hover: #303030;

        --code-background: #800;
        --code-foreground: #fff;

        --box-border: #575757;
        --box-background: #3a3a3a;
        --box-background-hover: #414141;
        --box-foreground: #ff6161;

        --box-tab-background: #800;
        --box-tab-foreground: #fff;

        --options-background: linear-gradient(0deg, #3a3a3a 95%, #202020);
        --options-border: #221a1a;
    }
}