:root {
    --box-border-width: 4px;
    --box-border: #d5d5d5;
    --box-background: #f1f1f1;
    --box-background-hover: #f6f6f6;
    --box-foreground: #636363;

    --page-width: 50%;
    --pad: 8px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {}

header,
main,
footer {
    width: var(--page-width);
    margin: var(--pad) auto;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--pad);
}

main {}

footer {}

/** FORM UPLOAD */
#form-upload {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: var(--pad);
}

#huge-upload-button {
    background: var(--box-background);
    color: var(--box-foreground);
    border: var(--box-border-width) dashed var(--box-border);
    border-radius: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;

    font-size: 1.5em;
}

#huge-upload-button:hover {
    background: var(--box-background-hover);
    cursor: pointer;
}

/** FILE QUEUE */
#file-upload-queue {
    display: flex;
    flex-direction: column;
}

/** ITEMS */
.item-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: var(--pad);
}

.item-list:has(> .message:only-child) {
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    flex-direction: column;
    gap: calc(var(--pad) / 2);
    padding: var(--pad);
    border: var(--box-border-width) solid var(--box-border);
}

.item>.thumbnail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thumbnail img {
    width: 128px;
    height: auto;
    text-align: center;
}

.item>.name {
    font-size: 1.25em;
}

.item>.details {
    font-size: 0.8em;
    list-style-type: none;
}

/** MESSAGES & HINTS */
.message {
    background: var(--box-background);
    color: var(--box-foreground);
    padding: var(--pad);
    border: var(--box-border-width) solid var(--box-border);
}

@media screen and (max-width: 800px) {
    :root {
        --page-width: 95%;
    }
}