@import "/static/styles/post.css";

:root {
    --background: #ffffff;
    --foreground: #000000;

    --anchor-foreground: #000;
    --anchor-background: #fff;

    --button-background: #000;
    --button-background-hover: #303030;
    --button-foreground: #fff;

    /** INPUT */
    --input-background: #fff;
    --input-foreground: #000;
    --input-foreground-placeholder: #777;
    --input-border: 1px solid #6c6c6c;
    --input-border-active: 1px solid #1e1e1e;

    /** CODE */
    --code-background: #b8b8d6;
    --code-foreground: #201b37;

    --box-background: #f1f1f1;
    --box-background-hover: #f6f6f6;
    --box-foreground: #636363;
    --box-border: 4px solid #f1f1f1;
    --box-shadow: 2px 2px 0 0 #a2a2a2;

    --box-tab-background: #eaeaea;
    --box-tab-foreground: #3a3a3a;

    --upload-box-border: 4px dashed #c3c3c3;
    --file-foreground: #fff;
    --file-background: linear-gradient(0deg, #000000, transparent);
    --file-shadow: #202020;

    --error-background: #ff8181;
    --error-foreground: #6d2828;
    --error-border: 4px solid #ff6c6c;

    --showcase-background: #191a1b;
    --showcase-control-background: #26282a;
    --showcase-control-foreground: #4c5661;

    --showcase-button-background: #606091;
    --showcase-button-background-hover: #3e3e7a;

    --options-background: linear-gradient(0deg, #c4c4c4 95%, #9d9d9d);
    --options-border: #a1a1a1;

    --dropdown-font: monospace;
    --dropdown-background: linear-gradient(0deg, #2b2b2b, #676767);
    --dropdown-background-hover: linear-gradient(0deg, #353535, #797979);
    --dropdown-foreground: #b4b4b4;
    --dropdown-foreground-hover: #ececec;
    --dropdown-shadow-text: 1px 1px 0 #2c2c2c;
    --dropdown-shadow: 2px 2px 0 0 #141414;
    --dropdown-border: 1px solid #1f1f1f;

    --page-width: 50%;
    --pad: 8px;
    --font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

body {
    background: var(--background);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    color: var(--foreground);
}

header,
main,
footer {
    width: var(--page-width);
    margin: var(--pad) auto;
}

header,
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--pad);
}

main {
    display: flex;
    flex-direction: column;
}

ol {
    margin: 1.5em;
}

ul.horizontal li {
    margin: 0;
}

ul.horizontal li {
    display: inline;
}

ul.horizontal li:not(:first-child)::before {
    content: ' | ';
}

noscript {
    background: var(--error-background);
    color: var(--error-foreground);
    border: var(--error-border);
    text-align: center;
}

a {
    color: var(--anchor-foreground);
    text-decoration: underline;
}

a:hover {
    background: var(--anchor-foreground);
    color: var(--anchor-background);
    text-decoration: line-through;
}

a:has(> img:only-child):hover {
    color: initial;
    background: initial;
    text-decoration: initial;
}

button,
.button {
    background: var(--button-background);
    color: var(--button-foreground);
    padding: var(--pad);
    border: none;
    font-size: 16px;
}

button:hover,
.button:hover {
    background: var(--button-background-hover);
    text-decoration: line-through;
    cursor: pointer;
}

button:has(> img:only-child),
.button:has(> img:only-child) {
    line-height: 0;
}

button:has(> img:only-child):hover,
.button:has(> img:only-child):hover {
    text-decoration: none;
}

.button[href=""] {
    display: none;
}

/** INPUT */
input[type="text"] {
    background: var(--input-background);
    color: var(--input-foreground);
    border: var(--input-border);
    padding: calc(var(--pad) / 2);
    outline: none;
}

input[type="text"]:focus {
    border: var(--input-border-active);
}

input[type="text"]::placeholder {
    color: var(--input-foreground-placeholder);
}

/** TABLES */
table.vertical th {
    text-align: right;
}

table.vertical.left th {
    text-align: left;
}

table.vertical tr>* {
    padding: calc(var(--pad) / 4);
}

code {
    font-family: 'Courier New', Courier, monospace;
    background: var(--code-background);
    color: var(--code-foreground);
    padding: 2px 4px;
    line-height: 1.25em;
}

fieldset {
    background: var(--box-background);
    color: var(--box-foreground);
    border: var(--box-border);
    padding: var(--pad);
}

fieldset>legend {
    background: var(--box-tab-background);
    color: var(--box-tab-foreground);
    border: var(--box-border);
    padding: calc(var(--pad) / 2) var(--pad);
}

.software-uploaders,
.preferences,
.statistics {
    display: flex;
    flex-direction: column;
    gap: var(--pad);
}

/** FORM UPLOAD */
#form-upload {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: var(--pad);
}

#huge-upload-button {
    background: var(--box-background);
    color: var(--box-foreground);
    border: var(--upload-box-border);
    border-radius: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;

    font-size: 1.5em;
}

#huge-upload-button:hover {
    background: var(--box-background-hover);
    cursor: pointer;
    text-decoration: none;
}

#form-upload input[type="file"]::file-selector-button {
    font-family: var(--font);
    background: var(--button-background);
    color: var(--button-foreground);
    padding: var(--pad);
    border: none;
}

#form-upload input[type="file"]::file-selector-button:hover {
    background: var(--button-background-hover);
    text-decoration: line-through;
    cursor: pointer;
}

#form-upload .options {
    display: flex;
    flex-direction: column;
    gap: var(--pad);
}

#form-upload .options .controls {
    display: flex;
    flex-direction: row;
    gap: var(--pad);
}

#form-upload .options .description {
    display: flex;
    flex-direction: row;
}

#form-upload .options .description textarea {
    display: flex;
    flex: 1;
    resize: vertical;
    min-height: 10vh;
}

#form-upload:has(> #huge-upload-button[active]) {
    gap: 0;
}

#form-upload:has(> #huge-upload-button[active]) .options {
    background: var(--options-background);
    border: 2px dotted var(--options-border);
    border-top: none;
    padding: var(--pad);
}

#form-upload:has(> #huge-upload-button[active]) .options fieldset {
    background: none;
    border: 2px dotted var(--options-border);
}

#form-upload:has(> #huge-upload-button[active]) .options fieldset>legend {
    background: none;
    border: none;
}

/** FILE QUEUE */
#file-upload-queue {
    display: flex;
    flex-direction: column;
}

#file-upload-queue table {
    border-spacing: 0;
}

#file-upload-queue tbody tr>td {
    padding: calc(var(--pad) / 2);
}

#file-upload-queue tbody td:nth-child(1) img {
    vertical-align: middle;
}

#file-upload-queue thead th:nth-child(2) {
    width: 55%;
}

#file-upload-queue thead th:nth-child(3) {
    width: 40%;
}

#file-upload-queue tbody td:nth-child(3) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: var(--pad);
}

#file-upload-queue .details {
    display: flex;
    flex-direction: row;
    gap: var(--pad);
}

#file-upload-queue tbody tr td {
    border-bottom: 1px solid var(--box-border);
}

#file-upload-queue tbody tr .status {
    font-size: 0.8em;
}

#file-upload-queue tbody tr[status="error"] .status,
#file-upload-queue tbody tr[status="deleted"] .status,
#file-upload-queue tbody tr[status="abort"] .status {
    font-size: 1em;
}

#file-upload-queue tbody tr[status="error"] {
    background: var(--error-background);
    color: var(--error-foreground);
}

#file-upload-queue tbody tr[status="error"] td {
    border-color: var(--error-border);
}

#file-upload-queue tbody tr[status="deleted"] td,
#file-upload-queue tbody tr[status="abort"] td {
    position: relative;
    color: red;
}

#file-upload-queue tbody tr[status="deleted"] td::before,
#file-upload-queue tbody tr[status="abort"] td::before {
    content: '';
    position: absolute;
    border-bottom: 1px solid red;
    top: 50%;
    width: 100%;
}

/** SYNC */
#sync-data {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--pad);
}

#sync-data input {
    padding: var(--pad);
}

#sync-data>div {
    display: flex;
    flex-direction: column;
    gap: var(--pad);
}

#sync-data .buttons {
    display: flex;
    flex-direction: row;
    gap: var(--pad);
}

#sync-data .buttons>button {
    flex-grow: 1;
}

/** ITEMS */
.item-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: var(--pad);
}

.item-list:has(> .message:only-child) {
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    flex-direction: column;
    gap: calc(var(--pad) / 2);
    padding: var(--pad);
    border: var(--box-border);
    box-shadow: var(--box-shadow);
}

.item .thumbnail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thumbnail img {
    width: 128px;
    height: auto;
    text-align: center;
}

.item .name {
    font-size: 1.25em;
}

.item .details {
    font-size: 0.8em;
    list-style-type: none;
}

.item .buttons {
    display: flex;
    flex-direction: row;
    gap: var(--pad);
}

.file.item {
    color: var(--file-foreground);

    background-color: #000;
    background-image: url('/static/img/default-thumbnail.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 128px;
    min-height: 256px;

    justify-content: end;
}

.file.item:has(.base) {
    padding: 0;
}

.file.item>.base {
    display: flex;
    flex-direction: column;
    gap: calc(var(--pad) / 2);
    padding: var(--pad);
}

.file.item .base {
    background: var(--file-background);
}

.file.item p,
.file.item li {
    text-shadow: 2px 2px 0 var(--file-shadow);
}

.file.item .button,
.file.item button {
    box-shadow: 2px 2px 0 0 var(--file-shadow);
}

.wall {
    display: flex;
    flex-wrap: wrap;
    gap: var(--pad);
}

/** BOX */
.box {
    background: var(--box-background);
    border: var(--box-border);
    padding: var(--pad);
    box-shadow: var(--box-shadow);
}

.box:has(>.tab):has(>.content) {
    background: none;
    padding: 0;
}

.box>.tab {
    background: var(--box-tab-background);
    color: var(--box-tab-foreground);
    border-bottom: var(--box-border);
    padding: var(--pad);
}

.box>.content {
    background: var(--box-background);
    padding: var(--pad);
}

.box>.content:has(> img:only-child) {
    padding: 0;
}

/** ERRORS  */
.box.error-page {
    font-size: 1.25em;
    text-align: center;
}

.box.error-page .content {
    line-height: 0;
}

.box.error-page .content p {
    line-height: initial;
}

main:has(> .error-page) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

p.error {
    color: red;
}

/** MESSAGES & HINTS */
.message {
    background: var(--box-tab-background);
    color: var(--box-foreground);
    padding: var(--pad);
    border: var(--box-border);
}

.hint {
    font-size: 0.8em !important;
}

.hint:not(.iconless)::before {
    position: relative;
    left: 0;
    top: 0;
    content: "    ";
    background-image: url('/static/img/icons/hint.png');
    background-position: 5%;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

/** DROPDOWN */
.dropdown {
    position: relative;
}

.drop-content {
    display: none;
    position: absolute;
    right: 0;
    min-width: 10vw;
    background: var(--box-background);
    border: var(--dropdown-border);
    box-shadow: var(--box-shadow);
}

.drop-content a {
    font-family: var(--dropdown-font);
    background: var(--dropdown-background);
    color: var(--dropdown-foreground);
    text-shadow: var(--dropdown-shadow-text);
    box-shadow: var(--dropdown-shadow);
    padding: 8px 4px;
    text-decoration: none;
    display: block;
}

.drop-content a:hover {
    background: var(--dropdown-background-hover);
    color: var(--dropdown-foreground-hover);
}

.dropdown:hover .drop-content {
    display: block;
}

.drop-button {
    background: initial;
    color: var(--anchor-foreground);
    padding: initial;
    text-decoration: underline;
}

.drop-button::after {
    content: '▼';
}

.dropdown:hover .drop-button {
    background: var(--anchor-foreground);
    color: var(--anchor-background);
    text-decoration: line-through;
}

.dropdown:hover .drop-button::after {
    content: '▲';
}

.hidden {
    display: none;
}

/** ANIMATIONS */
.shake {
    animation: shaking 0.2s infinite;
}

@keyframes shaking {
    0% {
        transform: translate(0px, 0px) rotateZ(0deg) scale(1);
    }

    20% {
        transform: translate(1px, 0px) rotateZ(1deg) scale(1.05);
    }

    40% {
        transform: translate(1px, -3px) rotateZ(-3deg) scale(1.1);
    }

    60% {
        transform: translate(3px, -1px) rotateZ(0deg) scale(1.05);
    }

    80% {
        transform: translate(2px, -2px) rotateZ(2deg) scale(0.8);
    }

    100% {
        transform: translate(0px, 0px) rotateZ(0deg) scale(1);
    }
}

/** RESPONSIVE MEDIA */
@media screen and (max-width: 1200px) {
    :root {
        --page-width: 75%;
    }
}

@media screen and (max-width: 1000px) {
    :root {
        --page-width: 85%;
    }
}

@media screen and (max-width: 800px) {
    :root {
        --page-width: 95%;
    }

    #form-upload .options>.controls {
        flex-direction: column;
    }

    .feed {
        flex-direction: column;

        overflow-x: hidden;
        overflow-y: auto;

        scroll-snap-type: y mandatory;
    }

    .feed>.preview {
        min-height: 100%;
    }
}