:root {
    --button-background: #000;
    --button-background-hover: #303030;
    --button-foreground: #fff;

    --code-background: #b8b8d6;
    --code-foreground: #201b37;

    --box-border-width: 4px;
    --box-border: #d5d5d5;
    --box-background: #f1f1f1;
    --box-background-hover: #f6f6f6;
    --box-foreground: #636363;

    --box-tab-background: #eaeaea;
    --box-tab-foreground: #3a3a3a;

    --error-background: #ff8181;
    --error-foreground: #6d2828;
    --error-border: #ff6c6c;

    --showcase-background: #191a1b;
    --showcase-control-background: #26282a;
    --showcase-control-foreground: #4c5661;

    --showcase-button-background: #606091;
    --showcase-button-background-hover: #3e3e7a;

    --page-width: 50%;
    --pad: 8px;
    --font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

body {}

header,
main,
footer {
    width: var(--page-width);
    margin: var(--pad) auto;
}

header,
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--pad);
}

main {
    display: flex;
    flex-direction: column;
}

ul.horizontal li {
    display: inline;
}

ul.horizontal li:not(:first-child)::before {
    content: ' | ';
}

noscript {
    background: var(--error-background);
    color: var(--error-foreground);
    border: var(--box-border-width) solid var(--error-border);
    text-align: center;
}

button,
.button {
    background: var(--button-background);
    color: var(--button-foreground);
    padding: var(--pad);
    border: none;
}

button:hover,
.button:hover {
    background: var(--button-background-hover);
    text-decoration: line-through;
    cursor: pointer;
}

button:has(> img:only-child),
.button:has(> img:only-child) {
    line-height: 0;
}

button:has(> img:only-child):hover,
.button:has(> img:only-child):hover {
    text-decoration: none;
}

table.vertical th {
    text-align: right;
}

table.vertical tr>* {
    padding: calc(var(--pad) / 4);
}

code {
    font-family: 'Courier New', Courier, monospace;
    background: var(--code-background);
    color: var(--code-foreground);
    padding: 2px 4px;
    line-height: 1.25em;
}

.software-uploaders {
    display: flex;
    flex-direction: column;
    gap: var(--pad);
}

/** FORM UPLOAD */
#form-upload {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: var(--pad);
}

#huge-upload-button {
    background: var(--box-background);
    color: var(--box-foreground);
    border: var(--box-border-width) dashed var(--box-border);
    border-radius: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;

    font-size: 1.5em;
}

#huge-upload-button:hover {
    background: var(--box-background-hover);
    cursor: pointer;
    text-decoration: none;
}

#form-upload input[type="file"]::file-selector-button {
    font-family: var(--font);
    background: var(--button-background);
    color: var(--button-foreground);
    padding: var(--pad);
    border: none;
}

#form-upload input[type="file"]::file-selector-button:hover {
    background: var(--button-background-hover);
    text-decoration: line-through;
    cursor: pointer;
}

/** FILE QUEUE */
#file-upload-queue {
    display: flex;
    flex-direction: column;
}

#file-upload-queue tbody tr>td {
    padding: calc(var(--pad) / 2);
}

#file-upload-queue tbody td:nth-child(1) img {
    vertical-align: middle;
}

#file-upload-queue thead th:nth-child(2) {
    width: 55%;
}

#file-upload-queue thead th:nth-child(3) {
    width: 40%;
}

#file-upload-queue .details {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--pad);
}

/** ITEMS */
.item-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: var(--pad);
}

.item-list:has(> .message:only-child) {
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    flex-direction: column;
    gap: calc(var(--pad) / 2);
    padding: var(--pad);
    border: var(--box-border-width) solid var(--box-border);
}

.item>.thumbnail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thumbnail img {
    width: 128px;
    height: auto;
    text-align: center;
}

.item>.name {
    font-size: 1.25em;
}

.item>.details {
    font-size: 0.8em;
    list-style-type: none;
}

.item>.buttons {
    display: flex;
    flex-direction: row;
    gap: var(--pad);
}

/** BOX */
.box {
    border: var(--box-border-width) solid var(--box-border);
}

.box>.tab {
    background: var(--box-tab-background);
    color: var(--box-tab-foreground);
    border-bottom: var(--box-border-width) solid var(--box-border);
    padding: var(--pad);
}

.box>.content {
    padding: var(--pad);
}

.box>.content:has(> img:only-child) {
    padding: 0;
}

.box.error {
    font-size: 1.25em;
    text-align: center;
}

/** MESSAGES & HINTS */
.message {
    background: var(--box-background);
    color: var(--box-foreground);
    padding: var(--pad);
    border: var(--box-border-width) solid var(--box-border);
}

.hint::before {
    position: relative;
    left: 0;
    top: 0;
    content: "    ";
    background-image: url('/static/img/icons/hint.png');
    background-position: 5%;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

/** FILES */
body:has(> .file-preview) {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.file-preview {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.file-preview .preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background: var(--showcase-background);
}

.file-preview .preview>* {
    max-width: 80vw;
    max-height: 80vh;
}

.file-preview>.control-panel {
    display: flex;
    flex-direction: row;

    background: var(--showcase-control-background);
    color: var(--showcase-control-foreground);
    border-top: var(--box-border-width) solid var(--showcase-control-foreground);

    padding: var(--pad);
    gap: var(--pad);

    font-size: 0.8em;
}

.control-panel>.metadata {
    flex-grow: 1;
}

.control-panel>.control-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--pad);
}

.control-buttons .button {
    background: var(--showcase-button-background);
}

.control-buttons .button:hover {
    background: var(--showcase-button-background-hover);
}

@media screen and (max-width: 800px) {
    :root {
        --page-width: 95%;
    }
}